 html{
        background: skyblue;
    }
    body{
        width: 800px;
        height: 800px;
        background: white;
        margin: 30px auto;
    }
    .row{
        width: 100%;
        float: left;
        color: orangered;
    }
    .row-btn{
        color: purple;
    }
    .box{
        width: 100px;
        height: 100px;
        float: left;
        font-size: 70px;
        text-align: center;
       
    }
    .black{
        background: black;
    }
    .box:hover{
        background: gold;
    }